# Mac files
.DS_Store

# All dropsonde data (too storage-heavy for Git)
Data/

# build and dist
build/
dist/

# Virtual environment directory
joanne_env/
flight_segments/

# Test folders
test_setup/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# VScode files
.vscode/
JOANNE.code-workspace

# egg directories
joanne.egg*/

# extra files (detours)
joanne/Level_2/ds_list.nc
joanne/Level_2/list_for_flight_segmentation.py
**/P3_circles.nc
**/all_cir_v0.8.1*.nc

# YAML files
**/*.yaml

# Manuscript files
Manuscript/
