# Mac files
.DS_Store

# All dropsonde data (too storage-heavy for Git)
Data/

# Virtual environment directory
joanne_env/

# Test folders
joanne/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# VScode files
.vscode/
JOANNE.code-workspace
