# Mac files
.DS_Store

# Data directories (too storage-heavy for Git)
Data/
flight_segments/

# build and dist
build/
dist/

# Virtual environment directory
joanne_env/

# Test folders
test_setup/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# VScode files
.vscode/
JOANNE.code-workspace

# egg directories
joanne.egg*/

# extra files (detours)

# YAML files
**/*.yaml
!joanne/Level_2/sondes.yaml

# Manuscript files
Manuscript/
